extends layout

block content
  h1 Previous scores
  ul
    each experiment in experiments
      li= experiment.title 
        a(href=`/experiment/${experiment.id}`) view the experiment
    else
      li There are no experiment
        
